

<div class="sidebar-container d-flex flex-column flex-shrink-0 p-3 text-white bg-dark  top-5"
     style="width: 200px; height: 100vh">
    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" id="home-link" class="nav-link text-white" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="{% url 'comparison' %}" id="comparison-link" class="nav-link text-white">
                Comparison
            </a>
        </li>
        <li>
            <a href="{% url 'visualization' %}" id="visualization-link" class="nav-link text-white" target="_blank">
                Visualization
            </a>
        </li>

        <li>
            <a href="#" id="#" class="nav-link text-white">
                Summary
            </a>
        </li>
    </ul>
    <hr>
</div>
