.uploads-container, .exclude-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-right: 10px;
    position: absolute;
    z-index: 999;
    right: 0;
    background-color: white;
}


.uploads-sections p {
    margin: 0;
}

.uploads-sections, .exclude-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    padding: 10px;
    border: 1px solid #002d72;
    border-radius: 5px;


}

.inputs-container {
    padding: 10px;
    border: 1px solid #002d72;
    border-top: none;
    border-radius: 5px;

}

.exclude-list-container {
    width: 300px;
}

.single-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border: 1px solid #002d72;
    border-radius: 5px;

}

.tables {
        padding-left: 210px;

}
.hidden {
    display: none;
}



