{% extends 'base.html' %}

{% block contain %}
{% include 'sidebar.html'%}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="uploads-container" >
        <div class="uploads-sections mb-3">
            <p class="fw-bold">Participant</p>
            {{form.participant_file}}
            <p class="fw-bold">Registration</p>
            {{form.registration_file}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </div>
</form>

{% endblock contain %}



