{% extends 'base.html' %}
{% block contain %}
    {% include 'sidebar.html' %}

    <script type='module'
            src='https://us-east-1.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>

    <tableau-viz id='tableau-viz'
                 token="{{ token }}"
                 src='https://us-east-1.online.tableau.com/t/smistr06-ac0750b6c8/views/Book2_Analytics_New_data/Dashboard'
                 width='1580' height='1440' toolbar='bottom'></tableau-viz>

{% endblock contain %}