<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NYIT</title>
    <link rel="stylesheet" href="/static/css/nav.css" >
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">

    {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  </head>
  <body>
    {% include "nav.html" %}
    {% block contain %} 
    {% endblock contain %}

  <script src="/static/scripts/sidebar.js"></script>
  </body>
</html>
